<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/witchan/test/master/Test.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=229556864,3630273423&fm=173&app=49&f=JPEG?w=550&h=275&s=18D03DCC4BECB3701CF9B407030080C0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=229556864,3630273423&fm=173&app=49&f=JPEG?w=550&h=275&s=18D03DCC4BECB3701CF9B407030080C0</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jiaxiao.driveapp</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>驾校一点通 App download</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
